<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="assets/main.css" />

    <title>{{config.site_name}} - {{page.frontmatter.title}}</title>
  </head>
  <body>
    <header>
      {{#pages}}<a href="{{slug}}.html">{{title}}</a>{{/pages}}
    </header>
    <h1>{{config.site_name}} - {{page.frontmatter.title}}</h1>

    {{{page.content}}}
  </body>
</html>
